<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hospital2">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name="ui.loading.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/apppic"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="ui.loading.Loading"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="login.ResignActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="ui.main.gh_ordinary"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="ui.main.gh_repert"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="ui.main.Keshi_select"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="ui.main.Keshi_select_repert"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="ui.main.SetOrderActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="ui.me.GetOrderActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="ui.me.OrderListActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>